modules = ["nodejs-20", "php-8.2", "web"]

[env]
APP_NAME = "Laravel"
APP_ENV = "production"
APP_DEBUG = "false"
APP_URL = "https://prodsgmm--phyowaiaungpxyo.replit.app"
LOG_CHANNEL = "stack"
LOG_LEVEL = "debug"
DB_CONNECTION = "sqlite"
DB_DATABASE = "database/database.sqlite"
BROADCAST_DRIVER = "log"
CACHE_DRIVER = "file"
QUEUE_CONNECTION = "sync"
SESSION_DRIVER = "file"
MAIL_MAILER = "log"
APP_KEY = "base64:UTmh61ErK6876QOlqdSbpvqRxXqCtOIEDcAWUj25n3k="

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash build.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "webview"
run = "bash start.sh"