@tailwind base;
@tailwind components;
@tailwind utilities;

.required:after {
    content: " *";
    color: red;
  }
ol{
    list-style-type: decimal;
}
ul{
  list-style-type: disc;
}
table tbody td{
    border-bottom: 1px solid lightblue;
}
.invoice-list-container{
    overflow: auto;
}
.invoice-list-table{
    min-width: 1250px;
    width: 100%;
}
.invoice-list-table thead th{
    padding: 10px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6266af;
}
.invoice-list-table tbody td{
    padding: 10px 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.invoice-list-table thead th{
    border-right: 1px solid rgb(167, 182, 197);
}
.invoice-color-textarea{
    background-color: #B6E0CC;
}